<section
    class="blog">
    <!-- section Our Blog -->
    <h2>Our blog</h2>
    <article class="blog-card">
        <a href="#"><img class="blog-card__img" src="image/girl.img" alt="girl" width="736" height="664"/> </a>
        <span class="blog-card__label">NFT</span>
        <img src="image/humanlogo.svg" alt="humanlogo" width="16" height="16"/>
        <p class="blog-card__name">Tony Nguyen</p>
        <img src="image/calendar.svg" alt="calendar" width="16" height="16"/>
        <p class="blog-card__date">20 Jun 2022</p>
        <h3 class="blog-card__title">Sonic live</h3>
        <p class="blog-card__desc">
            One September 22, 2021 A volutpat nulla eros, nulla ultrices nec nulla imperdiet...
        </p>
        <a class="blog-card__btn button" href="#">Read more</a>
    </article>
    <article>
        <a href="#"><img src="image/monkey.img" alt="monkey" width="736" height="198"/> </a>
        <span>NFT</span>
        <img src="image/humanlogo.svg" alt="humanlogo" width="16" height="16"/>
        <p>Tony Nguyen</p>
        <img src="image/calendar.svg" alt="calendar" width="16" height="16"/>
        <p>20 Jun 2022</p>
        <h3>Sonic live</h3>
        <p>
            One September 22, 2021 A volutpat nulla eros, nulla ultrices nec
                        nulla imperdiet...
        </p>
        <a href="#">Read more</a>
    </article>